.title, .subtitle {
    text-align: center;
}

.playerscore,.opponentscore, .opponentdice, .playerdice,
#playbutton, .yourside, .opponentside{
    text-align: center;
}

.subtitle {
    margin: 10%;
}

hr {
    width: 100%;
    height: 4px;
    background-color: white;   
    
}

.gamefield {
    background-color: coral;
    width: 50%;
    height: 600px;
    margin: 0 auto;
}


button {
    border: 0ch;
    background-color: red;
    color: white;
    width: 20%;
    height: 40px;
}